<div class="jumbotron">
	<h1 class="title">{{ artist.name }}</h1>
	<img class="center" ng-src="{{ artist.image[3] | imageFilter }}" alt="{{ artist.name }}"/>
    <p class="title">{{ artist.bio.content }}</p>
</div>

	<div class="container">
		<a ng-repeat="alternative in artist.similar.artist" href="#/artist/{{alternative.name}}">
			<div class="image-wrap" image-directive="{{  alternative.image[3] | imageFilter }}">
				<div class="image-content">
					<p class="text">{{ alternative.name }}</p>
				</div>
			</div>
		</a>
	</div>